@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.main-content {
    padding: 20px;
    background-color: #dfe8f0;
    flex-grow: 3;
}

#apresentacao-prime {
    display: flex;
    flex-direction: row;
}

#apresentacao {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 43px;
    color: #2c3e50;
    text-align: left;
}

#apresentacao-nome{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 70px;
    padding: 20px;
    border-radius: 10px;
    color: #E5D7C4;
    background-color: #2c3e50;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);  
}

#apresentacao-nome:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.sidebar {
    padding: 20px;
    background-color: rgb(194, 204, 216);
    flex-grow: 1;
}


.cairon-foto > img {
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 2px solid #eee;
    object-fit: cover;
    box-shadow: 2px 6px 8px black;

}

#card-foto {
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-info {
    transition-duration: 2s;
}

#card-info:hover {
     transform: scale(1.2);
     margin-left: 15px;
     margin-right: 15px;
}

.card {
    background-color: white;
    padding: 20px;
    margin: 10px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0,0,0,0.1); 
}

